
.Search
{
    position: fixed;
     top: 0%;
     padding-top: 40px; 
     padding-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #A0A0A0;
    padding-left: 14.5%;
    background-color: #121212;
    z-index: 8;
}
.Search span
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #202020;
}
.Search ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.Search input
{
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: #202020;
    outline: 0px;
    color: white;
    width: 100%;
}
.Search input:not(:focus) {
    border-color: rgba(0, 0, 0, 0);
}

.Search input:not(:focus) {
    border-color: rgba(0, 0, 0, 0);
}
.Search input :focus-visible
{
    border: none;
    border-color: rgba(0, 0, 0, 0);
    outline: none;
}
.Search li:hover
{
    color: white;
    cursor: pointer;
}

.dropdown {
    background-color: red;
    display: block;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* border: 1px solid gray; */
    background-color: #202020;
    color: #fff;
    width: 400px;
  }

  .dropdown:empty {
    border: none;
  }

  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 7px;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 14px;
  }
 